

@using DentistBookingBlazor.FE.Services.Bookings
@using DentistBookingBlazor.FE.Components
@inject HttpClient _httpClient
@inject IBookingService bookingService;
@page "/bookingfUser"
<h3>Booking Calender</h3>
@if (booking == null)
{
    <div>Loading...</div>
}
else
{


    <div class="content">

        <div class="container">

            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in booking)
                        {

                            <tr scope="row">
                                <td>@item.Date </td>

                                <td>@item.Total</td>
                                @if (@item.Status == DentistBooking.Data.Enum.Status.PENDING)
                                {
                                    <td>PENDING</td>
                                }
                                else if(@item.Status == DentistBooking.Data.Enum.Status.CONFIRMED)
                                {
                                    <td>CONFIRMED</td>
                                }else if(@item.Status == DentistBooking.Data.Enum.Status.DONE)
                                {
                                    <td>DONE</td>
                                }
                                else
                                {
                                <td>DECLINED</td>
                                }
                                <td>
                                    
                                    <a href="/bookingDetail/@item.Id" class="btn btn-primary">Detail</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <Pagination filter="paginationFilter" paginationDTO="paginationDTO" Spread="1" SelectedPage="SelectedPage"></Pagination>
                    </tfoot>
                </table>
            </div>
            

        </div>

    </div>
}


@code {

}
