@page "/dentist"
@using DentistBookingBlazor.FE.Components
@using DentistBookingBlazor.FE.Services.Dentists
@inject HttpClient _httpClient
@inject IDentistService dentistService;
@inject NavigationManager NavigationManager;




<h3>Dentist</h3>
<NotAuthorized>
    @if (true) { NavigationManager.NavigateTo("login"); }
</NotAuthorized>
@if (dentist == null)
{
    <div>Loading...</div>
}
else
{


    <div class="content">
        <div class="container">
        <div class="col pt4">
            <a href="/createDentist" class="btn btn-success">Create</a>

        </div>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Status</th>
                            <th scope="col">Position</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dentist)
                        {

                            <tr scope="row">
                                <td>
                                    @item.Id
                                </td>
                                <td>@item.FirstName @item.LastName</td>
                                @if (@item.Gender == 0)
                                {
                                    <td>Male</td>
                                }
                                else
                                {
                                    <td>Female</td>
                                }
                                <td>@item.Phone</td>
                                @if (@item.Status == 0)
                                {
                                    <td>ACTIVE</td>
                                }
                                else
                                {
                                    <td>INACTIVE</td>
                                }
                                @if (@item.Position == 0)
                                {
                                    <td>HEAD</td>
                                }
                                else if (@item.Position.ToString().Equals(1.ToString()))
                                {
                                    <td>DENTIST</td>
                                }
                                else
                                {
                                    <td>ASSISTANT</td>
                                }
                                <td>
                                    <a href="/updateDentist/@item.Id" class="btn btn-success">Update</a>
                                    @if (@item.Status == 0)
                                    {
                                        <button class="btn btn-danger" @onclick="()=>OnDeleteDentist(item.DentistID,1)">Delete</button>

                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" @onclick="()=>OnDeleteDentist(item.DentistID,-1)">Active</button>
                                    }

                                </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <Pagination filter="paginationFilter" paginationDTO="paginationDTO" Spread="1" SelectedPage="SelectedPage"></Pagination>
                    </tfoot>
                </table>
            </div>


        </div>

    </div>
    <Confirmation ConfirmationMessage="Are you sure you want to delete it?"
              ConfirmationTitle="Delete Dentist"
              @ref="DeleteConfirmation"
              ConfirmationChanged="OnConfirmDeleteDentist"></Confirmation>
}

@code {
    int i = 0;
}





