@page "/bookingDetail/{BookingId}"
@using DentistBookingBlazor.FE.Components
@using DentistBookingBlazor.FE.Services.Bookings
@inject HttpClient _httpClient
@inject IToastService ToastService
@inject IBookingService bookingService;

<h3>Booking Details</h3>

@if (detail == null)
{
    <div>Loading...</div>
}
else if (BookingStatus != DentistBooking.Data.Enum.Status.DECLINED)
{


    <div class="content">

        <div class="container">
            <h2 class="mb-5">Table #6</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Time</th>
                            <th scope="col">Service</th>
                            <th scope="col">Note</th>
                            <th scope="col">Dentist</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in detail)
                        {

                            <tr scope="row">
                                <td>
                                    @item.KeyTime
                                </td>
                                <td>@item.Services.ServiceName </td>
                                <td>@item.Note </td>
                                <td>@item.DentistName </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>


        </div>

    </div>

}
else
{
    <div class="content">

        <div class="container">
            <h2 class="mb-5">Table #6</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Time</th>
                            <th scope="col">Service</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in detail)
                        {

                            <tr scope="row">
                                <td>
                                    @item.KeyTime
                                </td>
                                <td>@item.Services.ServiceName </td>
                                <td>@item.Note </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>


        </div>

    </div>

}
