@page "/discount"
@using DentistBookingBlazor.FE.Components
@using DentistBookingBlazor.FE.Services.Discounts
@inject HttpClient _httpClient
@inject IToastService ToastService
@inject IDiscountService discountService;

<h3 style="padding-left: 1.5rem">Discount</h3>
<Authorized Roles="Admin">
    @if (discount == null)
    {
        <div style="padding-left: 1.5rem">Loading...</div>
    }
    else
    {


        <div class="content">
            <div style="margin: 0 2rem;display: flex;flex-direction: column;gap: 1rem;">
                <div class="col pt4" style="padding-left:0">
                    <a href="/discountCreate" class="btn btn-success">Create</a>
                </div>


                <div class="table-responsive">

                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>

                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Start date</th>
                                <th scope="col">End date</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Apply for all</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in discount)
                            {

                                <tr scope="row">
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>@item.Title </td>

                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.Description</td>
                                    @if (@item.status == 0)
                                    {
                                        <td>ACTIVE</td>
                                    }
                                    else
                                    {
                                        <td>INACTIVE</td>
                                    }
                                    <td>@item.Amount</td>
                                    <td>
                                        @if (@item.ApplyForAll == false)
                                        {
                                            <button class="btn btn-dark" @onclick="()=>OnApply(item.Id)">Apply For All</button>


                                        }
                                        else

                                        {
                                        <button class="btn btn-light" @onclick="()=>OnApply(item.Id)">UnApply For All</button>
                                        }
                                    </td>
                                    <td>
                                        <a href="/discountUpdate/@item.Id" class="btn btn-warning">Update</a>
                                        @if (@item.status == 0)
                                        {
                                            <button class="btn btn-danger" @onclick="()=>OnDeleteDiscount(item.Id,1)">Delete</button>


                                        }
                                        else

                                        {
                                        <button class="btn btn-primary" @onclick="()=>OnDeleteDiscount(item.Id,-1)">Active</button>
                                        }



                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <Pagination filter="paginationFilter" paginationDTO="paginationDTO" Spread="1" SelectedPage="SelectedPage"></Pagination>
                        </tfoot>
                    </table>
                </div>




            </div>

        </div>

        <Confirmation ConfirmationMessage="Are you sure you want to delete it?"
                  ConfirmationTitle="Delete Discount"
                  @ref="DeleteConfirmation"
                  ConfirmationChanged="OnConfirmDeleteDiscount"></Confirmation>
    }
</Authorized>
